@model HandsOnMVCUsingViewModel.ViewModels.EmpTitleViewModel

@{
    ViewData["Title"] = "Details";
}

    <h1>@Html.DisplayNameFor(model => model.PageTitle)</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpModel.Eid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpModel.Eid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpModel.Ename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpModel.Ename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpModel.Pid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpModel.Pid)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
